* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}

body {
  height: 100vh;
}

.page-container {
  padding: 40px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  padding: 6px;
  margin-right: 20px;
  color: black;
}

.sign-in-link,
.log-out-link {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sign-in-link:hover,
.log-out-link:hover {   
  background: #494d4e;
  color: #fff;
}

.main-page-link img {
  height: 40px;
  width: 40px;
}

.content__sort {
  margin-top: 40px;
  margin-left: 40px;
}

.content {
  padding: 20px 60px;
}

.content__list {
  width: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style-type: none;  
}

.film-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.film__link {
  text-decoration: none;
  color: black;
}

.film__img {
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  font-size: 0.3rem;
}

.film__short-info {
  display: none;
  top: 40%;
  color: white;
  padding: 6px;
  opacity: 0;
  z-index: 1;
}

.film-item:hover .film__short-info {
  display: block;
  position: absolute;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.film-item:hover .film__img{
  opacity: 0.7;
  filter: grayscale(60%);
}

.film__date,
.film__rating {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.film__date span,
.film__rating span {
  color: #ebc45b;
  font-size: 1.1em;
}

.film__title {
  cursor: default;
  font-size: 1.2rem;
}

.trash-btn {
  cursor: pointer;
  display: none;  
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 13px rgba(3, 2, 0, 0.5);
  border: 0;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg height='427pt' viewBox='-40 0 427 427.00131' width='427pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0'/%3E%3Cpath d='m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.film-item:hover .trash-btn {
  display: block;  
  position: absolute;  
  top: 3%;
  right: 5%;
  padding: 8px;
  z-index: 1;   
}

.trash-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}

.page-btn {
  background: transparent;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.3s ease;
  margin: 0 2px;
  border: 2px solid #494d4e;
  border-radius: 4px;
  user-select: none;
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$="-page"]) {
  width: 35px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.page-btn[class*="-page"] {
  background: transparent;
  font-size: 0.6em;
  font-weight: 700;
}

.page-btn.active,
.page-btn:hover,
.page-btn:focus {
  background: #494d4e;
  color: #fff;
}

.page-btn[disabled] {
  opacity: 0.3;  
}

.page-btn[disabled]:hover,
.page-btn[disabled]:focus {
  background: transparent;
  color: #2c303a;
  cursor: default;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  width: 300px;
  padding: 20px;
}
.row input {
  width: 100%;
  box-sizing: border-box; 
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent; 
}
.row input:focus {
  outline: none;
  border-color: #1976D2;
}
.row label {
  display: block;
  color: #aaa;
  user-select: none;
  transform: translateY(-1.5rem);
  line-height: 1rem;
  transition: 0.5s;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; 
}
.row input:focus + label, 
.row input:valid + label { 
  font-size: 10px;
  transform: translateY(-2.5rem);
}

.errors {
  font-size: 0.7rem;
  margin: 0;
  color: red;
  position: relative;
  bottom: 10px;
}

.btns-container {
  display: flex;
  justify-content: space-between;  
  margin-top: 10px;
}

.btns-container a {
  text-decoration: none;
  border: 2px solid black;
}

.btn {
  padding: 6px 12px;
  background: transparent;
  color: #000000;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; 
}

.btn.active,
.btn:hover,
.btn:focus {
  background: #494d4e;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
}